@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding-top: 0;
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Chakra Petch', sans-serif;
}

main {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 500px;
}

.card {
    padding: 1rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

img {
    width: 100%;
    border-radius: 15px;
}

.top-text {
    font-weight: 700;
    font-size: 1.4rem;
    margin: 20px 0;
}

.bottom-text {
    font-weight: 400;
    color: darkgray;
    margin-bottom: 20px;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: auto; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

footer {
    margin-top: auto;
}

    /* Responsive styles */
    @media screen and (max-width: 768px) {
      .card {
        width: 80%;
      }

      .top-text {
        font-size: 1.2rem;
      }

      .bottom-text {
        font-size: 0.9rem;
      }
    }

